@charset "utf-8";
@media all and (max-width: 1280px) {
  .top-button {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .live-list {
    gap: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .live-list li a img {
    width: 300px;
  }
  .footer-center-list {
    margin-left: 0px;
  }
}
@media all and (max-width: 1100px) {
  .logo img {
    width: 86px;
    height: 73px;
  }
}
@media all and (max-width: 1030px) {
  .live-list {
    gap: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu .menu-list {
    width: 500px;
  }
}
@media all and (max-width: 1000px) {
  .menu .menu-list {
    width: 450px;
  }
  header {
    height: 100px;
  }
  body {
    padding-top: 100px;
  }
}
@media all and (max-width: 950px) {
  .live-list {
    gap: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plus-btn {
    margin-top: 100px;
  }
}
@media all and (max-width: 930px) {
  .menu .menu-list {
    width: 400px;
  }
}
@media all and (max-width: 908px) {
  .footer-right-list {
    margin-left: -200px;
  }
}
@media all and (max-width: 870px) {
  .menu .menu-list {
    width: 350px;
  }
}
@media all and (max-width: 830px) {
  .menu .menu-list {
    width: 560px;
  }
  .etc .etc-list {
    display: none;
  }
  header {
    height: 80px;
  }
  .logo img {
    width: 76px;
    height: 63px;
  }
  body {
    padding-top: 80px;
  }
}
@media all and (max-width: 750px) {
  .swiper.slide {
    display: none;
  }
  .swiper.slidemb {
    display: block;
  }
  .main-inner h1{
    text-align: center;
  }
  .swiper-slide img {
    object-fit: cover;
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    /* height: 468px; */
    min-width: 0;
  }
}
@media all and (max-width: 732px) {
  .menu .menu-list {
    width: 450px;
  }
  .live-list {
    gap: 10px;
  }
  .plus-btn {
    margin-top: 80px;
  }
}
@media all and (max-width: 720px) {
  .footer-inner {
    flex-direction: column;
  }
  .footer-left-list-top {
    margin-top: 30px;
    margin-bottom: 0px;
    display: block;
  }
  .footer-left-list1 {
    display: flex;
    justify-content: space-between;
  }
  .footer-left-list3 {
    margin-right: 50px;
  }
  .footer-center {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .footer-left-list-top span {
    display: block;
  }
  .footer-center span {
    display: block;
  }
  .footer-center .copyright {
    padding-top: 30px;
  }
  .footer-right-list {
    /* margin-top: 10px; */
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
    justify-content: space-evenly;
  }
  .box {
    display: block;
    display: flex;
  }
  .footer-left {
    display: none;
  }
}
@media all and (max-width: 639px) {
  .main-inner h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 50px;
  }
  .live-list li a span {
    padding: 25px;
  }
  .live-list {
    gap: 20px;
  }
  .plus-btn {
    margin-top: 50px;
  }
}
@media all and (max-width: 610px) {
  .menu .menu-list {
    width: 400px;
  }
}
@media all and (max-width: 560px) {
  .menu .menu-list {
    width: 350px;
  }
}
@media all and (max-width: 534px) {
  .menu .menu-list {
    display: none;
  }
  .header-inner .menu-toggle-btn {
    display: block;
    z-index: 999;
  }
  /* .toggle-menu-bar-list{
  display: block;
} */
}
@media all and (max-width: 500px) {
  .footer-left-list3 {
    margin-right: 0px;
  }
  .left-bt img {
    width: 60px;
    height: 60px;
  }
  .right-bt img {
    width: 60px;
    height: 60px;
  }
  .delivery-bt {
    height: 80px;
  }
  .delivery-bt a {
    line-height: 80px;
    font-size: 25px;
  }
  .map {
    height: 80px;
  }
  .map a {
    line-height: 80px;
    font-size: 25px;
  }
}
@media all and (max-width: 450px) {
  .search-text {
    width: 75%;
  }
}
@media all and (max-width: 400px) {
  .delivery-bt {
    height: 70px;
  }
  .map {
    height: 70px;
  }
  .delivery-bt a {
    font-size: 20px;
    line-height: 70px;
    font-weight: 600;
  }
  .map a {
    font-size: 20px;
    line-height: 70px;
    font-weight: 600;
  }
  .footer-right-list {
    gap: 20px;
  }
}
@media all and (max-width: 370px){
  .footer-right-list {
    gap: 10px;
  }
}
@media all and (max-width: 365px) {
  .search-text {
    width: 65%;
  }
}
@media all and (max-width: 350px) {
  .left-bt img {
    width: 50px;
    height: 50px;
  }
  .right-bt img {
    width: 50px;
    height: 50px;
  }
  .footer-right-list {
    gap: 0px;
  }
}
