@charset "utf-8";
@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .live-list {
    gap: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .live-list li a img {
    width: 300px;
  }
  .top-button {
    display: none;
  }
  .footer-center-list {
    margin-left: 0px;
  }
}
@media all and (max-width: 1030px) {
  .live-list {
    gap: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu .menu-list {
    width: 500px;
  }
}
@media all and (max-width: 1000px) {
  .menu .menu-list {
    width: 450px;
  }
}
@media all and (max-width: 950px) {
  .live-list {
    gap: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 930px) {
  .menu .menu-list {
    width: 400px;
  }
}
@media all and (max-width: 908px) {
  .footer-right-list {
    margin-left: -200px;
  }
}
@media all and (max-width: 870px) {
  .menu .menu-list {
    width: 350px;
  }
}
@media all and (max-width: 830px) {
  .menu .menu-list {
    width: 560px;
  }
  .etc .etc-list {
    display: none;
  }
}
@media all and (max-width: 732px) {
  .menu .menu-list {
    width: 450px;
  }
  .live-list {
    gap: 10px;
  }
}
@media all and (max-width: 720px) {
  .footer-inner {
    flex-direction: column;
  }
  .footer-left-list-top {
    margin-top: 30px;
    margin-bottom: 0px;
    display: block;
  }
  .footer-left-list1{
    display: flex;
    justify-content: space-between;
  }
  .footer-left-list3{
    margin-right: 50px;
  }
  .footer-center {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .footer-left-list-top span {
    display: block;
  }
  .footer-center span {
    display: block;
  }
  .footer-center .copyright {
    padding-top: 30px;
  }
  .footer-right-list {
    /* margin-top: 10px; */
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
    justify-content: space-evenly;
  }
  .box {
    display: block;
    display: flex;
  }
  .footer-left {
    display: none;
  }
}
@media all and (max-width: 639px) {
  .main-inner h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 50px;
  }
}
@media all and (max-width: 610px) {
  .menu .menu-list {
    width: 400px;
  }
}
@media all and (max-width: 560px) {
  .menu .menu-list {
    width: 350px;
  }
}
@media all and (max-width: 534px) {
  .menu .menu-list {
    display: none;
  }
  .header-inner .menu-bar {
    display: block;
  }
}
@media all and (max-width: 500px){
.footer-left-list3{
  margin-right: 0px;
}
}
@media all and (max-width: 450px) {
  .delivery-bt a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 100px;
  }
  .map a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 100px;
  }
}
@media all and (max-width: 360px) {
  .delivery-bt a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
  }
  .map a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
  }
}
